[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
requests = "*"
urllib3 = "*"

[dev-packages]
pytest = "*"
autopep8 = "*"
flake8 = "*"
pytest-flask = "*"
requests-mock = "*"

[requires]
python_version = "3.13"
